.flex-direction-row {
    flex-direction: column;
}  
.flex-direction-column {
    flex-direction: column;
}
#head {
    background-color: #1A1A1A;
    border: 1px solid #1A1A1A;
    border-radius: 15px 15px 15px 15px;
    color: white;
    text-align: center;
}
#comp {
    background-color: transparent;
    border:1px solid black;
    border-radius: 30px;
    color: #1A1A1A;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.btn-4 {
  appearance: none;
  background-color: #222;
  border: 2px solid #1A1A1A;
  border-radius: 22px;
  box-sizing: border-box;
  color: #EEEEEE;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  outline: none;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
}
.btn-4:disabled {
  pointer-events: none;
}
.btn-4:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.btn-4:active {
  box-shadow: none;
  transform: translateY(0);
}
